# -------------------
# Terraform
# -------------------
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.crash.log
.terraform.lock.hcl

# -------------------
# Kubernetes / Helm
# -------------------
*.tgz
charts/

# -------------------
# Python
# -------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# -------------------
# Docker
# -------------------
*.log

# -------------------
# CI/CD
# -------------------
node_modules/
dist/
build/

# -------------------
# IDE / OS
# -------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -------------------
# Secrets
# -------------------
*.pem
*.key
*.crt
*.kubeconfig
secrets.yml
